# 招标平台登录账号
ZBX_USERNAME=your_username
ZBX_PASSWORD=your_password

# 邮件配置
SMTP_SERVER=smtp.feishu.cn
SMTP_PORT=465
SMTP_SENDER=your_email@example.com
SMTP_PASSWORD=your_email_auth_code
SMTP_RECEIVERS=receiver1@example.com,receiver2@example.com
SEND_EMAIL=true
